# 仿真产物
*.vvp
*.vcd

# Vivado 工程产物
fpga/scripts/output/
fpga/scripts/.Xil/
fpga/scripts/clockInfo.txt
fpga/scripts/vivado.jou
fpga/scripts/vivado.log
fpga/scripts/firmware.hex
*.bit
*.dcp
*.jou
*.str
*.rpt

# 编译产物
sw/build/
*.elf
*.bin
*.o
*.d
*.dis

# riscv-tests 编译产物
riscv-tests-build/build/

# 仿真工作目录中的临时文件
sim/firmware.hex
sim/*.vvp

# 系统文件
.DS_Store
Thumbs.db
